<h2>Before 2 weeks ago, you make...</h2>

<% @list.each do |k, v| %>
  <h3><%= k %> -> <%= v.size %></h3>
  <% v.each do |hash| %>
  <p><%= link_to hash.commit.message, hash.html_url, target: '_blank' %></p>
  <% end %>
<% end %>
<br>
<%= link_to 'Update which repositories will be used', repositories_path %>